<!-- accountapp/templates/accountapp/verify.html -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>도장 추가 인증</title>
</head>
<body>
    <div class="container">
        <h2>인증 번호를 입력하세요</h2>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="verification_code" placeholder="인증 번호">
            <button type="submit" class="btn btn-primary mt-3">인증</button>
        </form>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </div>
</body>
</html>
